@use "../User/User.module.scss" as u;
@use "../../stylesheets/abstracts/" as *;

.footer {
  display: flex;
  gap: var(--footer-gap);
}

.cart-btn {
  display: flex;
  gap: var(--footer-gap);

  white-space: nowrap;
}

.cart {
  @extend u, .cart !optional;
}

@media screen and (max-width: $large) {
  .footer {
    flex-wrap: wrap;
  }
}
