@use "../../../../shared/stylesheets/abstracts/" as *;

$cart-translate: -50%;

:root {
  --cart-padding: #{$ui-step * 2};
}

.cart {
  border-radius: var(--gallery__pic-border-radius);

  background-color: var(--white);

  min-width: 360px;
  max-width: 360px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: #{$ui-step * 2};

    padding: var(--cart-padding);
  }
}

.header {
  padding: var(--cart-padding);

  border-bottom: 2px solid var(--blue-100);

  font-weight: var(--bold);
}
