@use "../abstracts/" as *;

:root {
  --main-padding: 7em;
}

html {
  font-family: var(--mainFontFamily), "Calibri";
  scroll-behavior: smooth;
}

body {
  color: var(--blue-400);
  font-weight: var(--normal);

  background-color: var(--white);

  padding-inline: var(--main-padding);
}

@media screen and (max-width: $large) {
  :root {
    --main-padding: 3em;
  }
}
