:root {
  --user-avatar-width: 50px;
}

.user-section {
  display: flex;
  place-items: center;
  gap: var(--nav-gap);

  margin-left: auto;
}

.user {
  position: relative;

  min-width: var(--user-avatar-width);
  max-width: var(--user-avatar-width);

  transition: all 0.1s ease-in;

  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    border-color: var(--orange-200);
  }
}

.cart {
  min-width: calc(var(--user-avatar-width) * 0.5);
  max-width: calc(var(--user-avatar-width) * 0.5);
}
