@use "../../stylesheets/abstracts/" as *;

:root {
  --counter-item-size: 50px;
  --counter-item-padding: 10px;
  --counter-border-radius: 0.5em;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, var(--counter-item-size));
  place-items: center;

  width: min-content;

  border-radius: var(--counter-border-radius);

  background-color: var(--blue-100);

  font-weight: var(--bold);

  & > * {
    padding: calc(var(--counter-item-padding) * 2) var(--counter-item-padding);

    &:first-child,
    &:last-child {
      cursor: pointer;
    }
  }

  &--medium {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
