.nav-list {
  --item-border-bottom: 4px;

  display: flex;
  gap: var(--nav-gap);
  align-items: stretch;

  height: 100%;

  //margin-left: calc(var(--nav-gap) * 2);

  color: var(--blue-300);
  //opacity: 0.5;

  & > * {
    transition: all 0.2s ease-in;

    border-bottom: var(--item-border-bottom) solid transparent;

    margin-bottom: calc(var(--item-border-bottom) * -1);

    padding-block: var(--nav-gap);

    &:hover {
      border-bottom-color: var(--orange-200);
    }
  }

  &--vertical {
    flex-direction: column;

    & > * {
      width: 100%;

      border-bottom: none;

      margin-bottom: none;

      padding-block: none;

      &:hover {
        border-bottom-color: none;
      }
    }
  }
}
