@use "../../../../shared/stylesheets/abstracts/" as *;

:root {
  --counter-item-size: #{$ui-step * 5};
  --counter-item-padding: #{$ui-step};
  --counter-border-radius: 0.5em;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, var(--counter-item-size));

  border-radius: var(--counter-border-radius);

  background-color: var(--blue-100);

  font-weight: var(--bold);

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: calc(var(--counter-item-padding) * 2) var(--counter-item-padding);

    &:first-child,
    &:last-child {
      cursor: pointer;
    }
  }

  &--medium {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.value {
  user-select: none;
}
