@use "../../stylesheets/abstracts/" as *;

:root {
  --gallery-gap: 1.5em;
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);

  position: relative;

  min-width: 250px;
  max-width: 600px;

  &--medium {
    width: 100%;

    max-width: auto;

    margin-inline: auto;
  }

  &--small {
    min-width: 100%;
    //margin-left: calc(var(--main-grid-padding) * (-0.5));
    //min-width: 100vw;
  }
}

.featured {
  border-radius: var(--gallery__pic-border-radius);

  &--medium {
    border-radius: 0px;
  }
}

.mobile-controls {
  display: none !important;

  &--medium {
    display: flex !important;
  }
}

@media (max-width: $small) {
  .featured {
    border-radius: 0px;
  }
}
