@use "../../stylesheets/abstracts/" as *;

:root {
  --gallery-gap: 1.5em;
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);

  position: relative;

  min-width: 250px;
  max-width: 500px;
}

.featured {
  border-radius: var(--gallery__pic-border-radius);
}

.mobile-controls {
  display: none !important;
}

@media screen and (max-width: $large) {
  .gallery {
    width: 100%;
  }

  .mobile-controls {
    display:flex !important;
  }

  .featured {
    border-radius: 0px;
  }
}
