@use "../../stylesheets/abstracts/" as *;

:root {
  --arrow-aspect-ratio: 13 / 18;

  --arrow-offset: 50%;
}

.base-control {
  --padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);

  padding: var(--padding);

  border-radius: 50%;

  width: var(--user-avatar-width);

  aspect-ratio: 1;
}

.controls {
  display: flex;
  justify-content: space-between;

  &__prev {
    @extend .base-control;

    translate: calc(var(--arrow-offset) * -1);

    & > * {
      translate: calc(var(--arrow-aspect-ratio) * (-1px));
    }
  }

  &__next {
    @extend .base-control;

    translate: var(--arrow-offset);

    & > * {
      translate: calc(var(--arrow-aspect-ratio) * 1px);
    }
  }
}

@media screen and (max-width: $large) {
  .controls {
    &__prev {
      translate: calc(var(--arrow-offset) * 1);
    }

    &__next {
      translate: calc(var(--arrow-offset) * -1);
    }
  }
}
