@use "../../stylesheets/abstracts/" as *;

.menu {
  display: none;
  margin-bottom: -0.275em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--blue-100);

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  opacity: 1;

  transition: all 0.5s ease-in-out;

  font-weight: var(--bold);
  color: black;

  padding-block: calc(var(--nav-gap) );
    padding-inline: calc(var(--main-grid-padding) * 0.5);

  &--hidden {
    left: -100%;
    opacity: 0;
  }
}

@media (max-width: $small) {
  .menu {
    display: block;
  }
}
