@use "../../stylesheets/abstracts/" as *;

:root {
  --nav-gap: 2.5em;
}

.nav {
  display: flex;
  align-items: center;

  border-bottom: 2px solid var(--blue-100);

  //padding-block: var(--nav-gap);
  &--small {
    padding-block: calc(var(--nav-gap) * 0.375);
    padding-inline: calc(var(--main-grid-padding) * 0.5);
  }
}

.logo {
  min-width: fit-content;
}

.nav-list {
  margin-left: calc(var(--nav-gap) * 2);
  &--hidden {
    display: none;
  }
}

.menu {
  display: none;
}

@media (max-width: $medium) {
  :root {
    --nav-gap: 1.5em;
  }
}

@media (max-width: $small) {
  .nav {
    gap: var(--nav-gap);
  }
}
