@use "../../stylesheets/abstracts/" as *;

:root {
  --nav-gap: 2.5em;
}

.nav {
  display: flex;
  align-items: center;

  border-bottom: 2px solid var(--blue-100);

  //padding-block: var(--nav-gap);
}

.logo {
  min-width: fit-content;
}

@media screen and (max-width: $large) {
  :root {
  --nav-gap: 1.75em;
  }
}
