:root {
  --gallery__pic-border-radius: 1em;

  --gallery-gap: 1.5em;
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);

  min-width: 300px;

  &__thumbnail {
    transition: all 0.1s ease-in;

    border: 2px solid transparent;

    &:hover {
      @extend .gallery__thumbnail--featured;
    }

    &--featured {
      border-color: var(--orange-200);
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__featured,
  &__thumbnail {
    border-radius: var(--gallery__pic-border-radius);
  }

  &__thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gallery-gap);
  }
}
