@use "../../../../shared/stylesheets/abstracts/" as *;
@use "../../../../shared/stylesheets/mixins/" as *;

:root {
  --user-avatar-width: 50px;
}

.user-section {
  display: flex;
  place-items: center;
  gap: var(--nav-gap);

  margin-left: auto;
  padding-left: calc(var(--nav-gap) * 0.5);
}

.user {
  position: relative;

  min-width: var(--user-avatar-width);
  max-width: var(--user-avatar-width);

  border-radius: 50%;
  border: 2px solid transparent;

  @include transition-100;

  &:hover {
    border-color: var(--orange-200);
  }

  &--small {
    min-width: calc(var(--user-avatar-width) * 0.75);
    max-width: calc(var(--user-avatar-width) * 0.75);
  }
}

.cart {
  min-width: calc(var(--user-avatar-width) * 0.5);
  max-width: calc(var(--user-avatar-width) * 0.5);

  &:hover {
    fill: var(--blue-400);
  }
}

.cart-modal {
  @include z-index-modal;

  @include transition-200;

  position: absolute;
  right: 15%;
}

@media only screen and (max-width: $small) {
  .cart-modal {
    right: 2%;
  }
}
