:root {
  --user-avatar-width: 50px;
}

.user-section {
  display: flex;
  place-items: center;
  gap: var(--nav-gap);

  margin-left: auto;
  padding-left: calc(var(--nav-gap) * 0.5);
}

.user {
  position: relative;

  min-width: var(--user-avatar-width);
  max-width: var(--user-avatar-width);

  transition: all 0.1s ease-in;

  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    border-color: var(--orange-200);
  }

  &--small {
    min-width: calc(var(--user-avatar-width) * 0.75);
    max-width: calc(var(--user-avatar-width) * 0.75);
  }
}

.cart {
  min-width: calc(var(--user-avatar-width) * 0.5);
  max-width: calc(var(--user-avatar-width) * 0.5);
}

.cart-modal {
  position: absolute;
  top: calc(var(--nav-gap) * (-1) - 100%);
  translate: -50%;

  z-index: 100;

  opacity: 0;
  transition: all 0.75s ease-out;
  box-shadow: 0px 0px 2em -1em rgba(0, 0, 0, 1);

  
  &--active {
    top: 8%;

    opacity: 1;
  }
}
