@use "../../../shared/stylesheets/mixins/" as *;

.nav-list {
  --item-border-bottom: 4px;

  display: flex;
  gap: var(--nav-gap);
  align-items: stretch;

  height: 100%;

  //margin-left: calc(var(--nav-gap) * 2);

  color: var(--blue-300);
  //opacity: 0.5;

  & > * {
    &:hover {
      color: var(--black-100);
    }
  }

  &--horizontal {
    & > * {
      border-bottom: var(--item-border-bottom) solid transparent;

      border-radius: 0 0 calc(var(--item-border-bottom) * 0.5)
        calc(var(--item-border-bottom) * 0.5);

      margin-bottom: calc(var(--item-border-bottom) * -0.5);

      padding-block: var(--nav-gap);

      @include transition-200;

      &:hover {
        border-bottom-color: var(--orange-200);
      }
    }
  }

  &--vertical {
    flex-direction: column;

    font-weight: var(--bold);

    & > * {
      width: 100%;
    }
  }
}
