@use "../../stylesheets/abstracts/" as *;

:root {
  --gallery__pic-border-radius: 0.75em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gallery-gap);

  &--medium {
    display: none;
  }
}

.thumbnail {
  transition: all 0.1s ease-in;

  border: 2px solid transparent;
  border-radius: var(--gallery__pic-border-radius);

  &:hover {
    // @extend .gallery__thumbnail--featured;

    opacity: 0.5;
  }

  &--featured {
    border-color: var(--orange-200);
    opacity: 0.5;

    &:hover {
      opacity: 0.75;
    }
  }
}
