@use "./stylesheets/abstracts/" as *;

:root {
  --main-section-gap: 6em;

  --main-grid-padding: 3.5em;
}

.main-grid {
  display: grid;
  grid-template-areas: "gallery hero";
  gap: 8em;

  align-items: center;

  margin-inline: var(--main-grid-padding);

  max-width: 100%;

  &--medium {
    gap: 4vw;

    margin-inline: calc(var(--main-grid-padding) * 0.5);

    grid-template-areas:
      "gallery"
      "hero";
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-section-gap);
  padding-bottom: var(--main-section-gap);

  max-width: 1200px;

  margin-inline: auto;

  &--medium {
    max-width: 100%;
  }
}

@media (max-width: $small) {
  :root {
    --main-section-gap: 0;
  }
}
