@use "./stylesheets/abstracts/" as *;

:root {
  --main-section-gap: 6em;
}

.main-grid {
  display: grid;
  grid-template-areas: "gallery hero";
  gap: 8em;

  align-items: center;

  padding-inline: 3.5em;

  &--medium {
    gap: 4vw;

    padding-inline: 2em;

    grid-template-areas:
      "gallery"
      "hero";
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-section-gap);
  padding-bottom: var(--main-section-gap);

  max-width: 1100px;

  margin-inline: auto;
}

// @media screen and (max-width: $large) {
//   :root {
//     --main-section-gap: 0px;
//   }
//   // .main-grid {
//   //   gap: 4vw;

//   //   padding-inline: 2em;

//   //   grid-template-areas:
//   //     "gallery"
//   //     "hero";
//   // }
// }
