@use "../../../../shared/stylesheets/abstracts/" as *;
@use "../../../../shared/stylesheets/mixins/" as *;

.menu {
  display: none;
  margin-bottom: -0.275em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: #{$ui-step * 3};

  position: absolute;
  top: 0;
  bottom: 0;
  @include z-index-modal;

  width: 65%;

  padding: var(--nav-gap);

  background-color: var(--white);

  font-weight: var(--bold);
}

.close {
  margin-right: auto;
}

@media (max-width: $small) {
  .menu {
    display: block;
  }
}
